<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../public/CSS/profile.css" />
  </head>
  <body>
    <header class="mini">
      <%- include('../partials/header/header-mini.ejs') %>
    </header>
    <article class="content-container flex-horizontal">
      <aside class="flex-vertical flex-center">
        <%- include('../components/profile/profile-sidebar.ejs')%>
      </aside>
      <section class="detail-container">
        <%- include('../components/profile/profile-detail.ejs')%>
      </section>
      <section id="modal" class="modal-container">
        <%- include('../components/profile/profile-modal.ejs')%>
      </section>
    </article>
    <script src="../../public/JS/profile/profile-modal.js"></script>
  </body>
</html>
